.main-wrap{
    width: 100%;
    margin: 0 auto;
}
.community-wrap {
    .select-com {
      position: relative;
      width: 300px;        /* 버튼 컨테이너의 너비 */
      height: 50px;
      border-radius: 25px;
      border: 1px solid #ddd;
      display: flex;
      justify-content: space-between;
      overflow: hidden;
  
      button {
        flex: 1;
        z-index: 2;
        border: none;
        background: none;
        cursor: pointer;
        font-size: 14px;
        transition: color 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
  
        &.active {
          color: #fff;  /* 활성화된 버튼의 텍스트 색상 */
        }
      }
  
      /* 슬라이더 배경 */
      .slider-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;   /* 버튼 너비의 절반 */
        height: 100%;
        background-color: #6a44d2; /* 보라색 */
        border-radius: 25px;
        transition: left 0.3s ease; /* 좌우 이동 애니메이션 */
      }
  
      /* 배경이 왼쪽으로 이동 (참여 중인 커뮤니티) */
      .move-left {
        left: 0;
      }
  
      /* 배경이 오른쪽으로 이동 (모든 커뮤니티) */
      .move-right {
        left: 50%;
      }
    }
  }
  