// login.scss
@use "../setting/fonts";

.login-background {
  width: 100%;
  height: 100vh; // 페이지 전체 높이
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #3a305e 0%, #625799 18.6%, #6e5bb5 33.2%, #7865c2 49.8%, #917ee8 66.4%, #b49ef6 83%, #ddc2f8 99.6%, #eacef9 100%);
}

.login-container {
  width: 393px;
  height: 852px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: center;
}
.star {
  width: 150px;
  position: relative;
  left: 29%;
  margin-bottom: 20px;
}
.login-logo {
  text-align: center;

  .login-logo {
    width: 190px;
    height: auto;
  }

  p {
    font-family: "GmarketSansLight";
    font-size: 14px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
  }

  .paw-icon {
    font-size: 48px;
    color: white;
  }
}

.main-logo {
  width: 90px;
  height: auto;
  margin: 30px 0;
}

.login-form {
  width: 100%;

  .login-input {
    width: 100%;
    height: 50px;
    padding: 10px;
    border: none;
    font-size: 16px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #fff;
    margin: 0px;
    color: #000000; // 작성자 텍스트 색상

    // Placeholder 스타일 설정
    &::placeholder {
      color: #adadad !important; // Placeholder 색상
    }
  }

  .pwd-input {
    width: 100%;
    height: 50px;
    padding: 10px;
    border: none;
    font-size: 16px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 0.5px solid #7058cb;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

    &::placeholder {
      color: #adadad !important; // Placeholder 색상
    }
  }

  .login-button {
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    background-color: #e6dcff;
    color: #7058cb;
    font-size: 18px;
    font-weight: bolder;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

    &:hover {
      background-color: #6e5bb5;
      color: #e6dcff;
    }
  }
}

.login-footer {
  display: flex;
  font-size: 14px;
  color: white;
  text-align: center;
  margin-top: 15px;

  span {
    color: white;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;

    &:hover {
      color: #eacef9;
    }
  }
}

.error-container {
  display: flex;
  align-items: center;

  .error-icon {
    width: 16px;
    margin-right: 5px;
    margin-top: 4px;
  }
  .error-message {
    font-size: 12x;
    margin-top: 5px;
    font-weight: bold;
    color: #eccdfc;
  }
}
