.newpost-wrap {
  width: 100%;
  height: 87vh;
  margin: 0 auto;

  .newpost-container {
    width: 100%;
    height: 100%; // 페이지 전체 높이
    display: block;
    justify-self: center;
    align-items: center;
    background-color: #fff;
    font-family: "retendard-SemiBold";
    .new-cnt {
      display: block;
      .new-img-plus {
        display: block;
        padding: 10px 20px;

        .new-img-title {
          display: flex;
          padding: 10px 0;
          font-family: 'YiSunShin Dotum M';
          font-size: 9px;
          font-weight: 400;
          line-height: 9.09px;
          margin-top: 5px;

          h4 {
            font-size: 19px;
            font-weight: bold;
            color: #7058cb;
          }
          p {
            color: #bababa;
            font-size: 10px;
            margin-top: 5px;
            margin-left: 10px;
          }
        }
        .imgs-cnt {
          display: flex;
          padding: 10px;
          label{
            img {
              width: 77px;
              margin-right: 10px;
              cursor: pointer;
            }
          }
          .preview-images {
            display: flex;
            overflow-x: auto; /* 가로 스크롤 가능 */
            scrollbar-width: none; /* Firefox에서 스크롤바 숨기기 */
            -ms-overflow-style: none; /* IE에서 스크롤바 숨기기 */
            
            &::-webkit-scrollbar {
              display: none; /* Chrome, Safari에서 스크롤바 숨기기 */
            }
          
            .oneImg {
              position: relative;
              flex-shrink: 0; /* 이미지 크기 유지 */
              margin-right: 10px;
          
              .addedImg {
                width: 77px;
                height: 77px;
                border-radius: 50%;
              }
          
              .plus-icon {
                position: absolute;
                top: 50px;
                right: 5px;
                background-color: var(--purple400);
                width: 16.5px;
                height: 16.5px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1000;
          
                img {
                  width: 9px;
                  height: 9px;
                }
              }
            }
          }
          
        }
      }
      .new-text-cnt {
        padding: 10px 20px;
        font-family: 'YiSunShin Dotum M';
        .new-text {
          display: flex;
          padding: 10px 0;
          h4 {
            font-size: 19px;
            font-weight: bold;
            color: #7058cb;
          }
          p {
            color: #bababa;
            font-size: 10px;
            margin-top: 10px;
            font-size: 9px;
            font-weight: 400;
            line-height: 9.09px;
            margin-left: 10px;
          }
        }
        input {
          cursor: pointer;
          width: 100%;
          height: 50px;
          padding: 20px;
          border: none;
          font-size: 14px;
          border-radius: 5px;
          border: 0.5px solid #7058cb;
          background-color: #fff;
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);   
          color:#3A305E;
        }
        .new-text-cnt input::placeholder {
          color: var(--black500); // Placeholder 색상
        }
      }
    }
    .memory-btn {
      position: absolute;
      bottom:20px;
      left:50%;
      transform: translateX(-50%);
      width: 90%;
      padding: 10px;
      background-color: #fff;
      border: 1px solid #7058cb;
      color: #7058cb;
      font-family: "retendard-SemiBold";
      font-size: 17px;
      font-weight: bolder;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      margin: 20px auto; // 수평 가운데 정렬

      &:hover {
        background-color: #7058cb;
        color: #fff;
      }
      display: block; // 수평 가운데 정렬을 위해 block 요소로 설정
    }
    .memory-alert{
      position: absolute;
      bottom: 55px;
      left:50%;
      transform: translateX(-50%);
      font-family: "YiSunShin Dotum M";
      font-size: 13px;
      font-weight: 400;
      line-height: 13.13px;
      color: #3A305E;
      width:200px;
      img{
        width: 11.67px;
        height: 11.67px;
        margin-right: 2px;
      }
    }
  }
}
