//agree.scss
@use "../setting/fonts";

.go-background {
  width: 100%;
  height: 100vh; // 페이지 전체 높이
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #3a305e 0%, #625799 18.6%, #6e5bb5 33.2%, #7865c2 49.8%, #917ee8 66.4%, #b49ef6 83%, #ddc2f8 99.6%, #eacef9 100%);
}

.go-container {
  width: 393px;
  height: 852px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .mainlogo-img {
    width: 51px;
    margin: 30px;
  }
  .toStar-img {
    width: 84px;
    height: 22px;
  }
  p {
    color: #fff;
    font-family: "GmarketSansLight";
    margin: 10px 5px;
    font-size: 20px;
  }
  .text-cnt {
    display: flex;
    align-items: center;
  }
  .go-button {
    width: 100%;
    padding: 15px;
    background-color: #e6dcff;
    color: #7058cb;
    font-size: 18px;
    font-weight: bolder;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    &:hover {
      background-color: #6e5bb5;
      color: #e6dcff;
    }
  }
}
