
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
    --mainfont:'YiSunShin Dotum B';;
    --fontcolor:#3A305E;

    // 메인 컬러 
    --purple:  #7058CB;
    --purple100: #5b5ee3;
    --purple200: #8b66de;
    --purple300: #7865C2; //헤더
    --purple400: #8C78D5;
    --purple500:#C6BCEA;


    // 각종 검정색-회색
    --black: #151515;
    --black100: #323232;
    --black200: #8A8888;
;
    --black300: #E2E8F0;
    --black400: #969AA3;
    --black500: #ADADAD;

    // 하얀색
    --white: #fff;
    --white100:#F7F8FA;
    --white200:#E2E8F0;
    --white300: #FAF7FE; //배경

    // 투명
    --none: #00000000;
    --red: #DD0000;

    // 폰트 세팅
    font-family: var(--mainfont);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;

    // 폰트 최적화
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}